html, body {
    background-color: #212529;
}


#text-output {
    min-height: 200px;
    border-radius: 3px;
    padding: 10px;
    word-wrap: break-word;
    text-align: left;
  }
  .heading h1 {
    color: #b76935;
    
  }
  
  #text-input {
    min-height: 200px;
  }
  
  .btn {
      background-color: #252525;
      color: #b76935;
  }
  .editor .col {
    max-width: 45%;
    flex-basis: 45%;
    margin: 0.5rem;
    background-color:#6c757d;
    color: #b76935;
    border-radius: 0.5rem;
   
    
  }
  .col label {
      color: black;
      font-size: 1.3rem;;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .italic {
    font-style: italic;
  }
  
  .underline {
    text-decoration: underline;
  }
  
  